#root
  height: 100%

.wrapper
  height: 100%
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: center

header, footer
  flex: 1 0 0

.heading
  font-size: 2rem
  font-weight: 900

.view
  width: 100vw
  height: 100vw

  canvas
    width: 100%
    height: 100%
    background: grey

.menu
  width: 100%
  position: fixed
  left: 0
  top: 50%
  z-index: 9
  padding: 1rem
  transform: translateY(-50%)

  ul
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    border-radius: 1rem
    background: white

    li
      flex: 1 0 0
      cursor: pointer
